In [2]:
mystring = "stringyboi"
print(mystring[0:3])

str

In [8]:
print(mystring[-3:])

boi

In [9]:
mylist = ['a','b','c']
print(mylist[1])

b

In [11]:
mytuple = ('x','y','z')
mytuple.append('t')
# tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
#Exercise 2.4
string1 = 'avalue'
set1 = {'value1','value2','avalue'}
string1 in set1

True

In [16]:
#Exerceise 2.5
mydict = {1:'clean',2:'person',3:'soap'}
mydict.get(1)

'clean'

In [26]:
#Ex. 2.6
sentence = 'The quick brown fox jumped over the lazy dogs.'
sent1 = sentence.replace('.','')
sent2 = sent1.lower()
sent3 = sent2.split()
set1 = set(sent3)
set2 = sorted(set1)
set2

['brown', 'dogs', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the']

In [28]:
#Ex 2.7
diff = len(set1) - len(mylist)
diff

5

In [32]:
var1 = 'create'
var2 = 34
var3 = 17
print(f"var1 {var1}, var2 {var2}, var3 {var3}")

var1 create, var2 34, var3 17

In [36]:
float1 = 3.4
float2 = 7.6

float3 = int(float1 + float2)
print(float3 == 77)

False

In [ ]:
#EX. 2.11
#floating point stuff